[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "colours/solarized"]
	path = colours/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "colours/irblack"]
	path = colours/irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "lang/javascript"]
	path = lang/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "lang/markdown"]
	path = lang/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "lang/coffeescript"]
	path = lang/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "lang/git"]
	path = lang/git
	url = https://github.com/tpope/vim-git.git
[submodule "lang/scss"]
	path = lang/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "lang/less"]
	path = lang/less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "lang/zencoding"]
	path = lang/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "lang/applescript"]
	path = lang/applescript
	url = git://github.com/vim-scripts/applescript.vim.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "bundle/vim-html-escape"]
	path = bundle/vim-html-escape
	url = git://github.com/skwp/vim-html-escape.git
